<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursedle | Guess an EPFL course daily!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="ontop hidden" id="victory_screen">
        <div class="pane">
            <h2>You win!</h2>
            <p>The course for day #<span id="day"></span> was <a id="course_link"></a></p>
            <p>You guessed in <span id="num_guesses"></span> guesses !</p>
            <p id="progress"></p>
            <br>
            <a href="#" id="share">Share</a>
        </div>
    </div>
    <div class="centering">
        <div id="guesser">
            <input type="text" id="guess_input" placeholder="MATH-111(pi)">
            <select name="course_id" id="course_id"></select>
            <a href="#" id="submit_guess">Guess !</a>
        </div>
        <table id="guesses">
            <tbody id="tbody">
                <tr id="guess_title">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th>Section</th>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/static/coursedle.js"></script>
    <footer>Made with &lt;3 by <a href="https://github.com/PadjokeJ">Jon</a>. Licensed <a href="https://github.com/PadjokeJ/coursedle">AGPL</a></footer>
</body>
</html>