<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursedle | Guess an EPFL course daily!</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/coursedle.js"></script>
</head>

<body>
    <div class="centering">
        <table id="guesses">
            <tbody id="tbody">
                <tr id="guess_title">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th>Section</th>
                    <th>Exam session</th>
                </tr>
                <tr class="guess">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Language</td>
                    <td>Credits</td>
                    <td>Semester</td>
                    <td>Section</td>
                    <td>Exam session</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>