:root {
    --border: #d5d5d5;
    --bg: #f4f4f4;
}

html,
body {
    font-family: SuisseIntl, Arial, sans-serif !important;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    top:0;
    min-height: 100%;
    height:auto;
}

.centering {
    display: flex;
    width: 100%;
    min-height: calc(100% - 100px);
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#guesser,
#guesses {
    transition: all 0.5s ease;
}

#guesses {
    border: var(--border) solid 1px;

    border-spacing: 0;
    overflow: hidden;

    margin-bottom: 40px;
}

#guesser {
    background-color: var(--bg);
    margin: 20px;
    border: var(--border) solid 1px;
    display: flex;
}

#guess_input {
    border: var(--border) solid 1px;
    padding: 15px;
}

select {
    display: block;
    border: var(--border) solid 1px;
    background-color: white;
}

#guess_title {
    background-color: var(--bg);

    border: solid var(--border) 0 0 1px 0;
    padding: 5px;
    margin: 0;

    font-size: .6875rem;
    font-weight: 700;
    color: #707070;
    text-transform: uppercase;
}

#submit_guess, #share {
    background-color: red;
    color: white;
    font-weight: 700;

    display: block;
    align-content: center;
    padding: 15px;

    text-decoration: none;
}

td,
th {
    padding: 20px;
}

td {
    border: solid;
    border-width: 1px;
    border-color: var(--border);
}

th {
    border: solid;
    border-width: 0 1px;
    border-color: var(--border);
}

.correct {
    background-color: #87ff87;
    z-index: 9;
    position: relative;
}

.wrong {
    background-color: #ff8787;
}

.ontop {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.pane {
    background-color: white;
    border: solid 1px var(--border);

    padding: 50px;

    text-align: center;
}

.hidden {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;

    width: 100%;

    z-index: 9999;

    background-color: #e6e6e6;
    text-align: center;
    font-weight: 700;
    color: #707070;
    padding: 5px 0;
    font-size: 0.8em;
}

#card {
    color: red;

    font-weight: 700;
    font-size: 2.5em;

    text-align: center;
    width: 100%;
}